.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    box-shadow: 1px 2px;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
	background-color: #B6F3E3;
	font-size: 30px;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    color: #551A8B;

}

.nav a:hover {
  background-color: #82C9F2;
}

a {
 font-family: sans-serif;
  text-decoration: none;
  color: #00000;
}

html, body{
    margin:0px;
    padding:0px;
}

.WelGal h1 {
  color: #551A8B;
  font-family: sans-serif;
  position: fixed;
  top: 1.5%;
  left: 29%;
  font-size: 60px;
}

.Icons h1 {
  color: #551A8B;
  font-family: sans-serif;
  position: fixed;
  top: 12%;
  left: 41%;
  font-size: 40px;
}


.PastelUWU img {
  position: fixed;
  top: 25%;
  left: 30%;
  width: 150px;
  height: 150px;
}

.Hair img {
  position: fixed;
  top: 22%;
  left: 40%;
  width: 200px;
  height: 200px;
}

.Blue img {
  position: fixed;
  top: 21.5%;
  left: 52%;
  width: 200px;
  height: 200px;
}

.Grey img {
  position: fixed;
  top: 21.5%;
  left: 63%;
  width: 180px;
  height: 180px;
}

.Pink img {
  position: fixed;
  top: 22%;
  left: 20%;
  width: 180px;
  height: 180px;
}

.Refs h1 {
  color: #551A8B;
  font-family: sans-serif;
  position: fixed;
  top: 45%;
  left: 41%;
  font-size: 40px;
}

.PastelRef img {
  position: fixed;
  top: 60%;
  left: 20%;
  width: 400px;
  height: 300px;
}

.Alex img {
  position: fixed;
  top: 60%;
  left: 50%;
  width: 400px;
  height: 350px;
}
