

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    box-shadow: 1px 2px;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
	background-color: #B6F3E3;
	font-size: 30px;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    color: #551A8B;

}

.nav a:hover {
  background-color: #82C9F2;
}

a {
 font-family: sans-serif;
  text-decoration: none;
  color: #00000;
}

html, body{
    margin:0px;
    padding:0px;
}

.Welcome h1 {
  color: #551A8B;
  font-family: sans-serif;
  position: fixed;
  top: 10%;
  left: 27%;
  font-size: 70px;
}

.UwU img {
  position: fixed;
  top: 47%;
  left: 33%;
}

.Biography h2 {
  color: #551A8B;
  font-family: sans-serif;
  position: fixed;
  top: 30%;
  left: 29.5%;
}
